﻿<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{l("AuditLogs")}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form" #auditFilterForm="ngForm" (ngSubmit)="getAuditLogs()">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l("DateRange")}}</label>
                                    <date-range-picker [(startDate)]="startDate" [(endDate)]="endDate"></date-range-picker>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l("UserName")}}</label>
                                    <input type="text" name="UserName" class="form-control" [(ngModel)]="username">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="advancedFiltersAreShown">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">{{l("Service")}}</label>
                                        <input name="ServiceName" type="text" class="form-control" [(ngModel)]="serviceName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" style="display: block">{{l("Duration")}}</label>
                                    <div class="input-group" style="width: 250px !important;">
                                        <input type="number" name="MinExecutionDuration" only-number="" class="form-control" min="0" max="86400000" ng-minlength="0" ng-maxlength="8" [(ngModel)]="minExecutionDuration">
                                        <span class="input-group-addon">
                                            ---
                                        </span>
                                        <input type="number" name="MaxExecutionDuration" only-number="" class="form-control" min="0" max="86400000" ng-minlength="0" ng-maxlength="8" [(ngModel)]="maxExecutionDuration">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">{{l("Action")}}</label>
                                        <input type="text" name="MethodName" class="form-control" [(ngModel)]="methodName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">{{l("ErrorState")}}</label>
                                        <select name="HasException" class="form-control" [(ngModel)]="hasException">
                                            <option value="">{{l("All")}}</option>
                                            <option value="false">{{l("Success")}}</option>
                                            <option value="true">{{l("HasError")}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">{{l("Browser")}}</label>
                                        <input type="text" name="BrowserInfo" class="form-control" [(ngModel)]="browserInfo">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-sm-6">
                            <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                            <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button type="button" class="btn btn-default" (click)="exportToExcel()"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                            <button type="submit" class="btn blue"><i class="fa fa-refresh"></i> {{l("Refresh")}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="AuditLogsTable"></div>
        </div>
    </div>
    <auditLogDetailModal #auditLogDetailModal></auditLogDetailModal>
</div>