﻿<div [@routerTransition]>
    <h3 class="form-title">{{l("TenantSignUp")}}</h3>
    <div *ngIf="model.edition" class="hint text-center">({{l("Edition")}}: {{model.edition.displayName}})</div>

    <form #registerForm="ngForm" role="form" class="login-form" novalidate (submit)="save()">

        <p class="hint">
            {{l("TenantInformations")}}
        </p>

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{l("TenancyName")}}</label>
            <input #tenancyName="ngModel" class="form-control placeholder-no-fix" autoFocus type="text" placeholder="{{l('TenancyName')}}" [(ngModel)]="model.tenancyName" name="tenancyName" required maxlength="64" pattern="^[a-zA-Z][a-zA-Z0-9_-]{1,}$" />
            <div *ngIf="!tenancyName.valid && !tenancyName.pristine">
                <span class="help-block text-danger">{{l("TenantName_Regex_Description")}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{l("Name")}}</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="{{l('Name')}}" [(ngModel)]="model.name" name="Name" required maxlength="128" />
        </div>

        <p class="hint">
            {{l("AccountSettings")}}
        </p>

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{l("AdminEmailAddress")}}</label>
            <input class="form-control placeholder-no-fix" type="email" placeholder="{{l('AdminEmailAddress')}}" [(ngModel)]="model.adminEmailAddress" name="adminEmailAddress" required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
        </div>

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{l("AdminPassword")}}</label>
            <input type="password" name="Password" class="form-control" [(ngModel)]="model.adminPassword" #Password="ngModel" placeholder="{{l('AdminPassword')}}" validateEqual="PasswordRepeat"
                   reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                   [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                   required>
        </div>
        <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="form-group">
            <ul class="help-block text-danger" *ngIf="Password.errors">
                <li [hidden]="!Password.errors.requireDigit">{{l("PasswordComplexity_RequireDigit_Hint")}}</li>
                <li [hidden]="!Password.errors.requireLowercase">{{l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                <li [hidden]="!Password.errors.requireUppercase">{{l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                <li [hidden]="!Password.errors.requireNonAlphanumeric">{{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                <li [hidden]="!Password.errors.requiredLength">{{l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}</li>
            </ul>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{l("PasswordRepeat")}}</label>
            <input type="password" name="PasswordRepeat" class="form-control" [ngModel]="model.passwordRepeat" #PasswordRepeat="ngModel" placeholder="{{l('PasswordRepeat')}}" validateEqual="Password"
                   reverse="false" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase" [requireUppercase]="passwordComplexitySetting.requireUppercase"
                   [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                   required>
        </div>

        <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="form-group">
            <ul class="help-block text-danger" *ngIf="PasswordRepeat.errors">
                <li [hidden]="!PasswordRepeat.errors.requireDigit">{{l("PasswordComplexity_RequireDigit_Hint")}}</li>
                <li [hidden]="!PasswordRepeat.errors.requireLowercase">{{l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                <li [hidden]="!PasswordRepeat.errors.requireUppercase">{{l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">{{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                <li [hidden]="!PasswordRepeat.errors.requiredLength">{{l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}</li>
            </ul>
        </div>
        <p *ngIf="useCaptcha" class="hint">
            {{l("Captha_Hint")}}
        </p>

        <div *ngIf="useCaptcha" class="form-group margin-bottom-20">
            <re-captcha (resolved)="captchaResolved($event)" siteKey="6LfD-wUTAAAAACULAVXvL61K0w02RIsjhI8EyiS-"></re-captcha>
        </div>

        <div class="form-actions">
            <button [disabled]="saving" routerLink="/account/login" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
            <button type="submit" class="btn btn-success uppercase" [disabled]="!registerForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{l("Submit")}}</button>
        </div>

    </form>
</div>