﻿<header></header>

<div class="clearfix">
</div>
<div class="page-container" [ngClass]="{'subscription-bar-visible': subscriptionStatusBarVisible()}">
    <div class="page-sidebar-wrapper">
        <side-bar></side-bar>
    </div>

    <div class="page-content-wrapper">
        <div>alper</div>
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- chat-bar.component here... -->

</div>

<div class="page-footer">
    <footer></footer>
</div>
<chat-bar *ngIf="appSession.application.features['SignalR']"></chat-bar>