﻿<div bsModal #mySettingsModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog">
		<div class="modal-content">
			<form *ngIf="active" #mySettingsModalForm="ngForm" (ngSubmit)="save()">
				<div class="modal-header">
					<button type="button" class="close" aria-label="Close" (click)="close()">
          				<span aria-hidden="true">&times;</span>
        			</button>
					<h4 class="modal-title">
						<span>{{l("MySettings")}}</span>
					</h4>
				</div>

				<div class="modal-body" *ngIf="user">
					<div class="form-group form-md-line-input form-md-floating-label no-hint">
						<input #nameInput class="form-control edited" type="text" name="Name" [(ngModel)]="user.name" required maxlength="32">
						<label>{{l("Name")}}</label>
					</div>

					<div class="form-group form-md-line-input form-md-floating-label no-hint">
						<input type="text" name="Surname" class="form-control edited" [(ngModel)]="user.surname" required maxlength="32">
						<label>{{l("Surname")}}</label>
					</div>

					<div class="form-group form-md-line-input form-md-floating-label no-hint">
						<input type="email" name="EmailAddress" class="form-control edited" [(ngModel)]="user.emailAddress" required maxlength="256">
						<label>{{l("EmailAddress")}}</label>
					</div>

					<div class="form-group form-md-line-input form-md-floating-label no-hint">
						<input type="text" name="PhoneNumber" class="form-control edited" [(ngModel)]="user.phoneNumber" maxlength="24">
						<label>{{l("PhoneNumber")}}</label>
					</div>

					<div class="form-group form-md-line-input form-md-floating-label">
						<input type="text" [disabled]="!canChangeUserName" class="form-control edited" [(ngModel)]="user.userName" name="UserName" required maxlength="32">
						<label>{{l("UserName")}}</label>
						<span class="help-block" *ngIf="!canChangeUserName">{{l("CanNotChangeAdminUserName")}}</span>
					</div>

					<div class="form-group form-md-line-input form-md-floating-label no-hint" *ngIf="showTimezoneSelection">
						<label>{{l("Timezone")}}</label>
                        <timezone-combo [(selectedTimeZone)]="user.timezone" defaultTimezoneScope="{{defaultTimezoneScope}}"></timezone-combo>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn default close-button" (click)="close()" [disabled]="saving">{{l("Cancel")}}</button>
					<button type="submit" class="btn blue save-button" [disabled]="!mySettingsModalForm.form.valid || saving"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
				</div>
			</form>
		</div>
	</div>
</div>